<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Запись к врачу</title>
  </head>
  <body>
    <form action="/" method="post">
      <h1>Запись к врачу</h1>
      <label>ФИО<input type="text" name="fullName" /></label>
      <label>Номер телефона<input type="text" name="phone" /></label>
      <label
        >Опишите вышу проблему<input type="text" name="description"
      /></label>
      <button type="submit">Отправить</button>
    </form>
  </body>
</html>
